<h1>映画一覧</h1>
<%= form_with url:movies_path,method: :get,local: true do |f| %>
  <div class = "search-form">
    <%= text_field_tag :keyword,params[:keyword],placeholder: "映画名で検索" %>
    <div class = "radio-group">
      <div class = "radio-item">
        <%= radio_button_tag :is_showing,'',checked: params[:is_showing].blank? %>
        <%= label_tag :is_showing_,"すべて"%>
      </div>
      <div class = "radio-item">
        <%= radio_button_tag :is_showing,'1',checked: params[:is_showing]=='1'%>
        <%= label_tag :is_showing_1,"公開中"%>
      </div>
      <div class = "radio-item">
        <%= radio_button_tag :is_showing,'0',checked: params[:is_showing]=='0'%>
        <%= label_tag :is_showing_0,"公開予定"%>
      </div>
    </div>
    <div>
      <%= f.submit "検索" %>
    </div>
  </div>
<% end %>
<div class = "movies-container">
  <% @movies.each do |movie| %>
    <%= link_to movie_path(movie), class: "movie-card-link" do %>
      <div class = "movie-card">
        <div class = "movie-image">
          <%= image_tag movie.image_url, alt: movie.name %>
        </div>
        <div class = "movie-info">
          <h3 class = "movie-title">
            <%= movie.name %>
          </h3>
          <p class = "movie-year">公開年：<%= movie.year %></p>
          <p class = "movie-description"><%= movie.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>