<h1>映画情報更新</h1>
<%= form_with model: [:admin, @movie], local: true, authenticity_token: true, method: :patch do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
      <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name, "映画タイトル" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :year, "公開年" %>
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :is_showing, "上映中か" %>
    <%= f.check_box :is_showing %>
  </div>
  <div class="field">
    <%= f.label :description, "概要" %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image_url, "画像URL" %>
    <%= f.url_field :image_url %>
  </div>
  <div class="actions">
    <%= f.submit "Save Changes" %>
  </div>
<% end %>
<div style="margin-top: 20px;">
  <h3>スケジュール管理</h3>
  <% if @movie.schedules.any? %>
    <h4>現在のスケジュール</h4>
    <ul>
      <% @movie.schedules.order(:start_time).each do |schedule| %>
        <li>
          <%= schedule.start_time.strftime("%Y-%m-%d %H:%M") %>
          <%= link_to "編集",edit_admin_schedule_path(schedule)%>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>スケジュールはありません</p>
  <% end %>
  <%= link_to "スケジュールを追加", new_admin_movie_schedule_path(@movie) %>
</div>
<div class="actions">
  <%= link_to '削除', admin_movie_path(@movie), data: {
    turbo_method: :delete,
    turbo_confirm: "本当に削除しますか？"
  } %>
</div>
<%= link_to 'Close', admin_movies_path %>